body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;
}

.reel-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.reel {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 90%;
  height: 70%;
  border-radius: 12px;
  margin-bottom: 10px;
}
